

:root {
    --prim: rgb(21, 33, 69);
    --prim-dark: #111b3a;
    --prim-weak: #1b2647;

    --prim-2: rgb(63, 70, 111);
    --prim-3: rgb(106, 112, 155);
    --prim-4: rgb(151, 156, 202);
    --prim-5: rgb(198, 203, 251);
    --sec: #050b1d;
    --tert: #c28513;

    --red: rgb(124, 12, 12);
    --red-weak: rgb(117, 60, 60);

    --green: rgb(14, 99, 14);
}